* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Bangers", cursive;
}

body {
  background: rgb(76, 251, 63);
  background: radial-gradient(
    circle,
    rgba(76, 251, 63, 1) 0%,
    rgba(10, 58, 13, 1) 100%
  );
}

#canvas1 {
  background: url("./assets/background.png");
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

#obstacles,
#bull,
#egg,
#toad,
#toads,
#larva {
  display: none;
}
